@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans',serif;

}
.name{
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

table,td{
    border: 2px solid black;
    padding: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.footer{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: relative;
}
.dark-mode{
    color: white;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.copylink{
    position: absolute;
    left: 10px;
    bottom: 10px ;
}
#time, #dob{
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}
.dark{
    position: absolute;
    right: 12px;
    bottom: 10px;
}

button{
    font-size: 10px;
    border-radius: 35%;
    background-color: cornflowerblue;
}
input{
    font-size: 10px;
    border-radius: 35%;
    background-color: cornflowerblue;
}